header{
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}
img{
    width: 10%;
}

header a{

}
footer{
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}