@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
header{
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}
header img{
    width: 10%;
}

aside img{
    margin-left: 800px;
    width: 1075px;
    margin-bottom: 100px;
    border-radius: 40px;
}

header a{
        color: white;
        text-decoration: none;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;

   
    padding: 30px;
    float: right;
}
header a:hover{
    background-color: rgb(50, 50, 5);
    border-radius: 30px;
}

footer{
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}

h1{
    margin-left: 350px;
    margin-top: 3%;
}
p{
    margin-top: 300px;
    
        font-family: "Libre Bodoni", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-size: 30px;
      
}

h2{
        text-decoration: none;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
}
h3{
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 30px;
}